SECRET_KEY=super_secret_key
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
RESET_TOKEN_EXPIRE_MINUTES=
VERIFICATION_TOKEN_ACCESS_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

POSTGRES_USER=user
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://user:password@localhost:5432/users_db
TEST_DATABASE_URL=postgresql://user:password@localhost:5433/tests_db

APP_URL=http://localhost:8000
RESEND_API_KEY=your_resend_api_key

REDIS_URL=redis://localhost:6379
